<strong>Olá, {{ student }}</strong>
<p>Você acaba de receber a resposta para o seu pedido de auxílio, confira os detalhes abaixo:</p>
<p>
  <strong>Questão: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da Resposta: </strong> {{ answer_at }} <br />
  <div style="
    display: table-cell;
	  background-color: lightgreen;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold">Resposta</div>
  <br />
  <small>
    Caso tenha ficado alguma dúvida, favor entrar em contato conosco novamente.
  </small>
</p>
